body {
    background-image:url('catboop_bg.png');
    background-repeat:repeat;
    background-color:#333F40;
}

h1 {
    color:#DDDDF0;
    font-family:"Trebuchet MS", sans-serif;
    font-style:normal;
    text-align:center;
}

h3 {
    color:#DDDDF0;
    font: 14px "Trebuchet MS", sans-serif;
    font-style:normal;
    text-align:center;
    line-height:120%;
}

a {
    color:#DDDDF0;
    font: 12px "Trebuchet MS", sans-serif;
}

#outer {
    width:100%;
    margin:10px 0px;
    text-align:center;
}

#catFrame {
    width:400px;
    height:400px;
    overflow:hidden;
    margin:0px auto;
    border:1px dashed #DDDDF0;
    cursor:pointer;
}

#submitFrame {
    width:400px;
    height:400px;
    margin:0px auto;
    border:1px dashed #DDDDF0;
}

#catImg {
    display:none;
}

#submitImg {
    display:none;
    cursor:pointer;
}

#submitURLdiv {
    margin:190px auto;
}

#submitURL {
    width:250px;
    margin:0px 10px 0px 30px;
}